@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}





:root {
  --font-inter: "Inter", sans-serif;
}

/* Apply your font globally */
html {
  font-family: var(--font-inter);
  
}

/* Solid Button */
.btn-solid {
  @apply inline-flex items-center justify-center px-6 py-3 bg-orange-500 text-white font-semibold rounded-full shadow-md hover:bg-orange-600 transition duration-300;
}

/* Outlined Button */
.btn-outlined {
  @apply inline-flex items-center justify-center px-6 py-3 border-2 border-orange-500 text-orange-500 font-semibold rounded-full shadow-sm hover:bg-orange-50 transition duration-300;
}
