@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-inter: "Inter", sans-serif;
}

/* Apply your font globally */
html {
  font-family: var(--font-inter);
}