@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-inter: "Inter", sans-serif;
}

/* Apply your font globally */
html {
  font-family: var(--font-inter);
  
}