---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-4xl md:text-5xl font-bold leading-tight text-gray-900 mb-4">
Trusted Packers and Movers in Indore <span class="text-orange-500">for Safe &amp; Hassle-Free Relocation</span> </h1>
	</body>
</html>
